* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

.logo {
    width: 50px;
    height: auto;
}

.nav .home-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav .home-btn:hover {
    background-color: #0056b3;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 25px;
    gap: 10px;
    padding: 10px;
}