body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

header .logo {
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

header .search-box {
    flex: 1;
    position: relative;
}

.search-box input{
    width: 88%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: green;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
}

header ul li a:hover {
    border-bottom: 2px solid cadetblue;
}

header .menu {
    font-size: 2.5em;
    display: none;
}

@media(max-width: 1000px){
    .search-box button{
        position: absolute;
    }

    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }

    #chk1:checked ~ ul {
        right: 0;
    }
}

@media(max-width: 600px) {
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }

    header ul {
        width: 100%;
    }
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.gallery{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.card{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}
.card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
.stars{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.stars > li{
    padding: 5px;
}
.str{
    font-size: 26px;
    transition: .4s;
}
.checked{
    color: #ff9f43;
}
.unchecked{
    color: rgba(0, 0, 0, 0.384);
}
.str:hover{
    transform: scale(1.3);
    transition: .6s;
}
.buy{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
    background: #2183a2;
}
.buy-2{
    background: #3b3e6e;
}
.buy-3{
    background: #0b0b0b;
}
.buy-4{
    background: #ff9f43;
}
@media(max-width: 1000px){
    .card{
        width: 45%;
    }
}
@media(max-width: 750px){
    .card{
        width: 100%;
    }
}